* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: cadetblue;
    color:aliceblue; 
}

header,
section h2 {
    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
    color: aliceblue;
}

body {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: cadetblue;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    width: 100%;
    height: auto;
}

.brand-list img {
    height: 38px;
}

.brand-list li {
    display: inline;
    margin-right: 8px;
}

footer {
    padding: 16px 0;
    background-color: cadetblue;
    color: aliceblue;
    text-align: center;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 140px;
}

form button {
    background-color: rgb(36, 36, 163);
    color: aliceblue;
    border: none;
    cursor: pointer;
}

form  button:hover {
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: rgb(36, 36, 163);
}

.petshop-map {
    width: 600px;
    height: auto;
    
}

.product img {
    width: 200px;
    height: auto;
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

#listing .container {
    display: block;
}

.product button {
    background-color: rgb(36, 36, 163);
    color: aliceblue;
    border: none;
    cursor: pointer;
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

